@font-face {
    src: url(fonts/Gugi-Regular.ttf);
    font-family: gr;
}

@font-face {
    src: url(fonts/Roboto-Bold.ttf);
    font-family: rb;
}

@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: rl;
}

@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: rr;
}
